@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}
.header{
    background-color: #9ecefa;
    display: flex;
    justify-content: space-between;
}

.header ul{
    display: flex;
}
.opciones-menu li{ 
    box-sizing: border-box;
    list-style: none;
    height: 28px;
    margin: 25px;
    font-size: 24px;
    cursor: pointer;
    color: #707070;
    font-weight: 400;
    /* border: solid #87119A;   */
}

.opciones-menu li:hover{
    margin-bottom: 25px;
    color: #87119A;
    font-weight: 700;
    border-bottom: solid 1px #87119A;
}

.logo{
    
    font-family: 'Fascinate', cursive;
    font-size: 52px;
    font-weight: 500;
    margin-left: 40px;
}
.text-box{
	margin: 20px 40px;	
}
.text-box h2{ 
    margin: 30px auto;
	font-family: 'Roboto', sans-serif;
	font-size : 28px;
	color: #87119A;
    font-weight: 700;
}
.text-box p{
    margin: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.img-box{
	margin:auto  30px;
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.img-box2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img{
	width:410px;
}
.img-elm{
    margin: 20px;
}
.icon{
    width: 8px;
    height: 52px;
    background-color: #87119A;
}
.title{
    border-left: 6px solid #87119A;
    padding-left:  20px;
}
.img-elm2 img{
    width: 282px;
    height: 251px;
}

.img-box3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-box3 img{
    width: 282px;
    height: 251px;
    margin:auto  30px;
}

.img-box4{
    margin: auto 30px  ;
    
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ecefa ;
    height: 77px;
}
footer p {
    margin: 30px;
}

.contact{
    display: flex;
    margin-bottom: 250px;
}
.text-box2{
    color: #87119A;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}